<div class="filter">
  <label for="filter-select">Filter:</label>
  <select name="" id="filter-selected" [(ngModel)]="filter" (ngModelChange)="setFilter($event)">
    <option value="all">All</option>
    <option value="completed">Completed</option>
    <option value="incomplete">Incomplete</option>
  </select>
</div>

<div *ngIf="filteredTasks$ | async as tasks">
  <div *ngFor="let task of tasks" class="card">
    <label class="task-label">
      <input type="checkbox" [(ngModel)]="task.done" />
      <span [class.completed]="task.done">{{ task.title }}</span>
    </label>
    <button (click)="openDeleteModal(task)" class="delete-btn">Delete task</button>
  </div>
</div>

<!-- Modal -->
<div class="modal-overlay" *ngIf="showModal">
  <div class="modal-content">
    <p>Do you really want to delete this task?</p>
    <div class="button-group">
      <button class="confirm-btn" (click)="confirmDelete()">Yes</button>
      <button class="cancel-btn" (click)="cancelDelete()">No</button>
    </div>
  </div>
</div>

